.banner {
	height: 45rem;
	position: relative;
	object-fit: contain;
	color: white;
	margin-bottom: 20px;
	object-fit: fill;
}

.banner__cnts {
	position: relative;
	height: 200px;
	margin-left: 30px;
	top: 400px;
}

.banner__title {
	font-size: 4rem;
	font-weight: 800;
	padding-bottom: 2rem;
}

.banner__desc {
	width: 45rem;
	line-height: 1.5;
	padding-top: 2rem;
	font-size: 0.8rem;
	max-width: 360px;
	height: 80px;
}

.banner__btn {
	cursor: pointer;
	border: none;
	color: white;
	outline: none;
	font-weight: 700;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-right: 1rem;
	border-radius: 0.2vw;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: rgba(51, 51, 51, 0.7);
}

.banner__btn:hover {
	color: black;
	background-color: rgb(228, 228, 228);
	transition: all 0.25s;
}

.banner--fadeBottom {
	height: 33rem;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgba(23, 23, 23, 0.65),
		#111
	);
}
