.profileScreen {
	// position: relative;
	height: 100vh;
	max-width: fit-content;
	// margin-bottom: 200px;
}

.profileScreen__body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profileScreen__info {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4em;
	padding: 0.2em;
	top: 8vh;

	img {
		height: 8em;
	}
	.profileScreen__user {
		position: relative;
		color: white;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
		grid-column-gap: 1em;
		grid-row-gap: 2em;
		padding: 1em;
	}
}

.profile__delete {
	position: relative;
	left: 20em;
	width: 12em;
	height: 2.5em;
	font-size: 0.8rem;
	color: white;
	background-color: #e50914;
	cursor: pointer;
	border: none;
	font-weight: 700;
	border-radius: 5px;
	margin-top: 2em;
}

@media only screen and (max-width: 768px) {
	.profile__img {
		display: none;
	}
}
