.row {
	// position: relative;
	color: white;
	margin-left: 20px;
	height: clamp(12em, 0.2em + 30vw, 18em);
}

.rowLarge {
	margin-top: 2em;
	height: clamp(20em, 0.2em + 40vw, 28em);
	padding-top: 1em;
}

.row__posters {
	display: flex;
	align-items: center;
	overflow-y: hidden;
	overflow-x: scroll;
	// padding: 2em;
	// scrollbar-width: none;
	height: clamp(10em, 0.2em + 20vw, 15em);
	margin-left: 1em;
	z-index: 1; // border-radius: 1rem;
}

.row__postersLarge {
	height: clamp(16em, 0.2em + 30vw, 22em);
}

.row__title {
	font-size: clamp(1.2rem, 0.2rem + 2vw, 1.6rem);
	font-weight: 800;
}

.row__slide {
	position: relative;
	display: flex;
	align-items: center;
}
