// .search__input {
// 	width: 100%;
// 	line-height: 20px;
// 	font-size: 1em;
// 	border-radius: 20px;
// 	appearance: none;
// }

// .search__icon {
// 	position: relative;
// 	top: -20px;
// 	right: -200px;
// 	border: none;
// 	overflow: hidden;
// 	background-color: transparent;
// }

.search__input {
	transform: translateX(-1000%);
}

.search__input.open {
	color: white;
	background-color: black;
	border-radius: 5px;
	transform: translate(0%, 0%);
	z-index: 99;
}

.search__box {
	gap: 2em;
	z-index: 1;
	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		&:focus {
			outline: none;
		}
		svg {
			color: hsl(0, 0%, 100%);
			font-size: 1em;
		}
	}

	.show-search {
		border: 1px solid white;
		background-color: rgba(0, 0, 0, 0.6);
		input {
			width: 100%;
			opacity: 1;
			visibility: visible;
			padding: 0.3rem;
		}
	}
}

@media only screen and (max-width: 1000px) {
	.search__input {
		width: 100px;
	}
}
